.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 70vh;
    background-color: rgb(10, 10, 41);
   justify-items: auto;
   column-gap: 2px;
   color: white;
    
}


.footer-section{
    height: 70vh;
    width: 25vw;
    padding: 4vmax 1vmax;
    box-sizing: border-box;
    color: white;
   
   
}

.footer-section1{
     height: 70vh;
       color: white;
    width: 25vw;
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-footer{
    height: 35vh;
    position: relative;
    bottom: 20vh;
   
}
.footer-heading{
    font: 400 2vmax "Roboto";
    margin: 5vmax 0 2vmax 0;
      color: white;
}
.footer-navlinks{
    display: flex;
    flex-direction: column;
      color: white;
    
    
}
.footer-navlinks>a{
    text-decoration: none;
    margin: 0.7vmax 0;
    font: 300 1.2vmax "Roboto";
      color: white;
}



.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bottom-footer{
   border-top: 2px solid white;
    height: 3vmax;
    width: full;
    background-color: rgb(10, 10, 41);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}