footer{
    display: flex;
    background-color: rgb(34,33,33);
    color: white;
    margin-top: 10vmax;
    padding:2vmax;
    align-items: center;

}
.leftfooter{
    width: 20%;
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.leftfooter>p{
    text-align: center;
    font-size: 1.2vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.leftfooter>h4{
    font-family:"Roboto" ;
    font-size: 1vmax;
}

.leftfooter>img{
    width: 10vmax;
     
    margin: 1vmax;
    cursor: pointer;
}
.midfooter{
    width: 60%;
    
    text-align: center;
}

.midfooter>h1{
    font-size: 4vmax;
    font-family:"Roboto";
    color: #eb4034;
}
.midfooter>p{
    max-width: 60%;
    font-size: 1vmax;
    margin: 1vmax auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rightfooter{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.rightfooter>h4{
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
}

.rightfooter>a{
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0.5vmax;
    transition: all 0.5s;
}

.rightfooter>a:hover{
    color: #eb4034;
}