.contactcontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 14, 74);
    position: fixed;
    position: fixed;
   
    left: 0;
    box-sizing: border-box;
   
    
   
    
    
}
.contactUsform{
    background-color: rgba(255, 255, 255, 0.927);
    display: flex;
    flex-direction: column;
    padding: 2vmax 4vmax;
    width: 60%;
    max-width: 100vw;
    border-radius: 2vmax;
}
.contactUsform>h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}
.contactUsform>input,textarea{
    border: 0;
    margin: 1vmax 2vmax;
    padding: 1vmax;
}
.contactUsform>button{
    border: none;
      background-color: #ed1e79;
      color: white;
      padding: 1vmax;
      margin: 1vmax auto;
      
     
      font: 300 1.1vmax "Roboto";
      text-transform: uppercase;
  width: 30%;

    cursor: pointer;
    transition: all 0.5s;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.contactUsform>button:hover{
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {

.contactUsform{
    
      padding: 5vmax;
}
.contactUsform>h3{
    
    font: 400 2vmax "Roboto";
    
}
.contactUsform>button{
    font: 300 1.9vmax "Roboto";
      padding: 1.3vmax;
}
}