.searchBox{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   
    left: 0;
}

.searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    text-transform: uppercase;
    height: 8%;
  }
  
  .searchBox > input[type="submit"] {
    height: 8%;
    border-radius: 0%;
    background-color: #ed1e79;
    border: none;
    padding: 1vmax;
    width: 10%;
    text-transform: uppercase;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .searchBox > input[type="submit"]:hover {
    background-color: rgb(55, 97, 214);
  }
  