
.home-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    background-color: #ed1e79;
   
  font-family: "Roboto";
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    background-color:  white;
}

.hero-img>img{
   
    width: 85%;
    cursor: pointer;
    
    
}

.hero-img:hover{
   
   
}

.hero-left{
    margin-left: 7vmax;
    
    padding: 2vmax;
 
}
.hero-left>h1{
    max-width: 50vmax;
    color: #ed1e79;
   
   
    font: 500  "Roboto";
    font-size: 3vmax;
   
    
}
.hero-left>p{
    max-width: 40vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    font-size: 1.4vmax;
    font: 500  "Roboto";
    
    color: #ed1e79;
   
    
}
.hero-left>button{
    border: none;
    border-radius: 0.5vmax;
    padding: 1vmax 2.5vmax;
     font-size: 1.4vmax;
     font:300 "Roboto";
     align-items: center;
     cursor: pointer;
     text-transform: uppercase;
     background-color: #ed1e79;
     position: relative;
     border: 2px solid #ed1e79;
     overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}
.hero-left>button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    width: 100%;
    height: 100%;
    transition: all linear 0.5s;
    transform: translateX(-100%);
   
   
   
    z-index: 1;
}
.hero-left>button:hover:before{
    transform: translateX(0);
    z-index: -1;
}
.hero-left>button:hover{
    color:#ed1e79;
}
.hero-left>button>a{
    text-decoration: none;
    color:white;
    padding: 2vmax 1vmax;
}
.hero-left>button>a:hover{
   
    color:#ed1e79;
    z-index: 1;
    transition: all linear 0.5s;
   
}





.banner>p{
    font: 300 1.4vmax "Lucida Sans"
}

.banner>a>button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}

.banner>a>button:hover{
    background-color: rgba(255,255,255,0);
    color: white;
}

.banner::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left:0%; 
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}

.homeheading{
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    margin-top: 10vmax !important;

}
.home-about-section{
     display: flex;
    flex-direction: row;
    align-items: center;
   
    background-color: #ed1e79;
   
  font-family: "Roboto";
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
   

}
.home-about-left{
    text-align: left;
    
    padding: 3vmax;
 
}
.home-about-left>h1{
    max-width: 40vmax;
   
    font-size: 3vmax;
    color: #fff100;
   
    
}
.home-about-left>p{
    max-width: 40vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    font-size: 1.4vmax;
    color: #fff100;
   
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 2vmax auto;
    width: 80vw;
    justify-content: center;
    
   
}

.productCard{
    width: 16vmax;
    height: 30vmax;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin:2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.productCard>img{
    width: 16vmax;
   

}

.productCard>div{
    margin: 0.4vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCardSpan{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard>p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span{
    margin:0.5vmax;  
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.521);
    transform: translateY(-1vmax);
}
.home-services-contianer{
    width: 100vw;
    height: 150vh;
    background: #ed1e79;
    
}
.service-header{
    display: flex;
    text-align: center;
    
    align-items: center;
    flex-direction: column;
    
}
.service-header>h1{
    margin-top: 5vmax;
    margin-bottom: 2vmax;
    font: 500  "Roboto";
    font-size: 3vmax;
    color: #fff100;
}
.service-header>p{
   
    font: 300  "Roboto";
    font-size: 1.4vmax;
    width: 70vw;
    color: #fff100;
}

.service-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

   
    
}
.service-container{
    background:#fff100;
    
    width: 35vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3vmax;
    padding: 2vmax;
    border-radius: 2vmax;
    cursor: pointer;
}
.ser-text{
    margin-top: 3vmax;
    margin-left: 2vmax;
    color: #ed1e79;

}



    
    
   


@media screen and (max-width:600px) {

    .productCard>p{
        font-size: 1.7vmax;
    }
    .productCard>div{
        margin: 0vmax;
        display: block ;
    }
    .productCard>span{
        font-size: 1.5vmax;
    }
    .productCard>div>span{
        margin: 0 0.5vmax;
        font:300 1vmax "Roboto";
    }
    
    .innerimage{
        width: 65vw;
        align-self: center;
    }
    .home-services-contianer{
      height: max-content;
        
    }
    .service-container{
        background:#fff100;
        
        width: 72vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3vmax;
        padding: 2vmax;
        border-radius: 2vmax;
        cursor: pointer;
    }
    .service-header>h1{
        margin-top: 5vmax;
        margin-bottom: 2vmax;
        font: 500  "Roboto";
        font-size: 4.5vmax;
        color: #fff100;
    }
    .service-header>p{
   
        font: 300  "Roboto";
        font-size: 1.8vmax;
        width: 70vw;
        color: #fff100;
    }
    .home-about-section{
        flex-direction: column;
    }
    .home-about-section img{
        width: 90vw;
    }
    .home-about-left>h1{
    max-width: 40vmax;
   
     
        font-size: 4vmax;
    color: #fff100;
   
    
}
.home-about-left>p{
    max-width: 40vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
   font-size: 1.8vmax;
        width: 70vw;
    color: #fff100;
   
    
}
.home-hero{
        flex-direction: column;
        justify-content: space-evenly;
       
       
    }
    .hero-img>img{
   
    width: 90vw;
    
    
}
.hero-left>h1{
    max-width: 50vmax;
    color: #ed1e79;
   
   
    font: 500  "Roboto";
    font-size: 4.5vmax;
   
    
}
.hero-left>p{
    
    font-size: 1.8vmax;
    font: 500  "Roboto";
    
    
   
    
}
.hero-left>button>a{
   font-size: 1.8vmax;
    font: 500  "Roboto";
}
.hero-left>button::before{
  background-color: #ed1e79;
}

.hero-left>button:hover{
     color:#ed1e79;
}
.hero-left>button>a:hover{
 color: #fff100;
   
}
.ser-text>h1{
  font-size: 3.5vmax;
    font: 500  "Roboto";
}
.ser-text>p{
    font-size: 1.6vmax;
    font: 300  "Roboto";
}
.service-image{
    padding-bottom: 10vmax;
   
    
}

}